<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <title>Quan Ly Nhan Vien</title>
</head>
<body>
  <div class="container">
    <h1>Them Nhan Vien</h1>
    <form (ngSubmit)="onsubmit(formNhanvien);" #formNhanvien="ngForm">
      <div class="form-group">
        <label for="usr">Name</label>
        <input type="text" class="form-control" name="name" ngModel required>
      </div>
      <div class="form-group">
        <label for="pwd">Age</label>
        <input type="text" class="form-control" name="age" ngModel required>
      </div>
      <div class="form-group">
          <label for="pwd">Hometown</label>
          <input type="text" class="form-control" name="hometown" ngModel required>
      </div>
      <button class="btn btn-success" [disabled]="formNhanvien.invalid">Submit</button>
    </form>
    <br>
    <a routerLink="/getnhanvien">Quay ve trang chu</a>
  </div>
</body>
</html>
